.witcher__feature-container_title {
    flex: 2;
    width: 100%;
    height: auto;
}

.witcher__feature-container_title h3 {
    font-family: var(--font-family);
    color: #dfdfdf;
    font-size: 30px;
    line-height: 60px;
    text-align: left;
    font-weight: 800;
    font-style: italic;
    letter-spacing: -0.04em;
}

.witcher__feature-container_image {
    flex: 1;
}

.witcher__feature-container_image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 990px) {
    .witcher__feature-container_title h3 {
        font-size: 20px;
        line-height: 50px;
    }
}

@media screen and (max-width: 800px) {
    .witcher__feature-container_title h3 {
        font-size: 15px;
        line-height: 40px;
    }
}

@media screen and (max-width: 640px) {
    .witcher__feature-container {
        flex-direction: column;
        padding: 0rem 1rem;
        margin: 0;
    }
}