.witcher__what {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.witcher__what-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  #DCE1E5;
}

.witcher__what-main h1 {
    font-family: "Witcher";
    color: #8B969C;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.5rem;
    text-align: center;
    text-shadow: 2px 3px black;
}

.witcher__what__feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0rem 0rem 2rem;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(246,99,99,1) 50%, rgba(218,218,218,1) 100%);
    margin: 1rem;
    border-radius: 1rem;
}


.witcher__what-heading {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 3rem;
}

.witcher__what-heading h2 {
    font-family: "Witcher";
    font-size: 50px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.witcher__what-heading div {
    width: 70%;
    height: 3px;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(246,99,99,1) 50%, rgba(218,218,218,1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.witcher__what-heading .div2 {
    width: 50%;
}

.witcher__what-heading .div3 {
    width: 30%;
}

.witcher__what-container {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: flex-start;
    background-color: black;
}

.witcher__what-container h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem;
    font-size: 50px;
    line-height: 75px;
    font-family: "Witcher";
}

.witcher__what-container__feature-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
}

.witcher__what-container .div1 {
    width: 70%;
    height: 3px;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(246,99,99,1) 50%, rgba(218,218,218,1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.witcher__what-container .div2 {
    width: 50%;
    height: 3px;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(246,99,99,1) 50%, rgba(218,218,218,1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.witcher__what-container .div3 {
    width: 30%;
    height: 3px;
    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(246,99,99,1) 50%, rgba(218,218,218,1) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 1024px) {
    .witcher__what-main h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .witcher__what-heading h2 {
        font-size: 40px;
    }
}