.product-container {
    max-width: 600px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.product-img-container {
    flex: 1;
    overflow: hidden;
    max-height: 470px;
    max-width: 600px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-img-container:hover {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-img-container img {
    max-width: 90%;
    max-height: 100%;
    object-fit: contain;
}

.product-details-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.product-details-container a,
.product-details-container p {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.04em;
}

.product-details-container p {
    color: #AD1D1A;
    font-weight: bold;
}

@media screen and (max-width: 500px){
    .product-details-container a,
    .product-details-container p {
        font-size: 15px;
    }
}

@media screen and (max-width: 425px){
    .product-details-container a,
    .product-details-container p {
        font-size: 9px;
    }
}