.witcher__signs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.witcher__signs div {
    max-width: 80px;
    max-height: 80px;
    margin: 1rem 2rem;
}

.witcher__signs img{
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1100px) {
    .witcher__signs div {
        max-width: 60px;
        max-height: 60px;
    }
}

@media screen and (max-width: 910px) {
    .witcher__signs div {
        max-width: 40px;
        max-height: 40px;
    }
}

@media screen and (max-width: 520px){
    .witcher__signs div {
        max-width: 30px;
        max-height: 30px;
        margin: 1rem 1rem;
    }
}