.witcher__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1rem; 
    background-color:#DCE1E5;
    text-transform: uppercase;
}

.witcher__navbar-menu {
    display: none;
    cursor: pointer;
}

.witcher__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: start;
    background: #DCE1E5;
    padding: 2rem;
    position: absolute;
    top: 63px;
    left: 0;
    min-width: 100%;
    min-height: 3200px;
    z-index: 1;
    height: 100vh;
}

.witcher__navbar-menu_container p {
    font-family: var(--font-family);
    margin: 2rem 0rem;
}

.witcher__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.witcher__navbar-logo {
    margin-right: 1rem;
}

.witcher__navbar-logo img {
    width: 100px;
    height: 100px;
}

.witcher__navbar-links_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.witcher__navbar-links_container p, button,
.witcher__navbar-menu_container p {
    text-transform: uppercase;
    font-size: 18px;
    padding: 0rem 2rem;
    font-weight: 600;
    font-family: var(--font-family);
}

.witcher__navbar-links_container button {
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    padding: 0.25rem 1rem;
    color: #AD1D1A;
}

a:hover {
    color: #AD1D1A;
}

@media screen and (max-width: 1100px) {

    .witcher__navbar {
        background-color: white;
        position: relative;
    }

    .witcher__navbar-logo img {
        width: 100px;
        height: 60px;
    }

    .witcher__navbar-links_container p{
        display: none;
    }

    .witcher__navbar-links_container button {
        padding: 1rem;
    }

    .witcher__navbar-menu {
        display: flex;
    }

    .witcher__navbar-menu_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .witcher__navbar-links_container button {
        padding: 0.5rem;
    }
}