* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #DCE1E5;
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

@media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem 6rem;
    }
    .section__margin {
        padding: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }
    .section__margin {
        padding: 4rem 2rem;
    }
}

.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient__bg {
    /* ff 3.6+ */
    background:-moz-linear-gradient(297deg, rgba(83, 83, 82, 1) 0%, rgba(220, 220, 220, 1) 100%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(297deg, rgba(83, 83, 82, 1) 0%, rgba(220, 220, 220, 1) 100%);

    /* opera 11.10+ */
    background:-o-linear-gradient(297deg, rgba(83, 83, 82, 1) 0%, rgba(220, 220, 220, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535352', endColorstr='#DCDCDC', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(297deg, rgba(83, 83, 82, 1) 0%, rgba(220, 220, 220, 1) 100%);

    /* global 94%+ browsers support */
    background:linear-gradient(297deg, rgba(83, 83, 82, 1) 0%, rgba(220, 220, 220, 1) 100%);
}

.gradient__header {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 100% 100%, rgba(83, 83, 82, 1) 0%, rgba(93, 21, 21, 1) 53%, rgba(255, 230, 230, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 100% 100%, rgba(83, 83, 82, 1) 0%, rgba(93, 21, 21, 1) 53%, rgba(255, 230, 230, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 100% 100%, rgba(83, 83, 82, 1) 0%, rgba(93, 21, 21, 1) 53%, rgba(255, 230, 230, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 100% 100%, rgba(83, 83, 82, 1) 0%, rgba(93, 21, 21, 1) 53%, rgba(255, 230, 230, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 100% 100%, rgba(83, 83, 82, 1) 0%, rgba(93, 21, 21, 1) 53%, rgba(255, 230, 230, 1) 100%);
}


.gradient__what {
    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 16% 31%, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 39%, rgba(43, 42, 42, 1) 53%, rgba(90, 89, 89, 1) 82%, rgba(96, 96, 96, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 16% 31%, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 39%, rgba(43, 42, 42, 1) 53%, rgba(90, 89, 89, 1) 82%, rgba(96, 96, 96, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 16% 31%, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 39%, rgba(43, 42, 42, 1) 53%, rgba(90, 89, 89, 1) 82%, rgba(96, 96, 96, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 16% 31%, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 39%, rgba(43, 42, 42, 1) 53%, rgba(90, 89, 89, 1) 82%, rgba(96, 96, 96, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 16% 31%, rgba(0, 0, 0, 1) 0%, rgba(56, 56, 56, 1) 39%, rgba(43, 42, 42, 1) 53%, rgba(90, 89, 89, 1) 82%, rgba(96, 96, 96, 1) 100%);

}

.gradient__feature {
        /* ff 3.6+ */
        background:-moz-linear-gradient(0deg, rgba(139, 150, 156, 1) 0%, rgba(139, 150, 156, 1) 50%, rgba(220, 225, 229, 1) 100%); 

        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(0deg, rgba(139, 150, 156, 1) 0%, rgba(139, 150, 156, 1) 50%, rgba(220, 225, 229, 1) 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(0deg, rgba(139, 150, 156, 1) 0%, rgba(139, 150, 156, 1) 50%, rgba(220, 225, 229, 1) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8B969C', endColorstr='#DCE1E5', GradientType=1 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(0deg, rgba(139, 150, 156, 1) 0%, rgba(139, 150, 156, 1) 50%, rgba(220, 225, 229, 1) 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(0deg, rgba(139, 150, 156, 1) 0%, rgba(139, 150, 156, 1) 50%, rgba(220, 225, 229, 1) 100%);
}

@font-face {
    font-family: "Witcher";
    src: local('TheWitcher'), url("./assets/font/TheWitcher.ttf") format("truetype");
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  