.witcher__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.witcher__header-image {
    flex: 1;
    display: flex;
    width: fit-content;
    height: inherit;
}

.witcher__header-image img {
    max-width: 100%;
    max-height: 100%;
}

.witcher__header-content {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 2rem;
}

.witcher__header-content h1 {
    font-family: var(--font-family);
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    color: black;
    letter-spacing: -0.04em;
    text-shadow: 1px 1px #8B969C;
}

.witcher__header-content strong {
    font-size: 70px;
    color: black;
    text-shadow: 1px 1px #8B969C;
}

@media screen and (max-width: 1024px) {
    .witcher__header-content h1 {
        font-size: 30px;
        line-height: 50px;
    }
    .witcher__header-content strong {
        font-size: 50px;
    }
}

@media screen and (max-width: 630px) {
    .witcher__header {
        margin: 0.5rem;
    }
    .witcher__header-content h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .witcher__header-content strong {
        font-size: 30px;
    }
}

@media screen and (max-width: 380px){
    .witcher__header-content h1 {
        font-size: 15px;
        line-height: 20px;
    }
    .witcher__header-content strong {
        font-size: 20px;
    }
}